<%- include("partials/header") %>

<h1>
	This is History Page!
</h1>

<% if(items != null) { %>
	<% items.forEach(function(item){ %>
	<ul>
		1.   <bold>Date:</bold> 12/5/2019    <bold>Product:</bold> <%= item.PRODUCT_NAME %>     <bold>Price:</bold> <%= item.PRICE %>
	</ul>
	<% }); %>	
<% }; %>

<a href='/profile'>Go Back</a>



<%- include("partials/footer") %>